<<<<<<< HEAD
.DetailedResult .center-img-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DetailedResult .title-link {
  display: flex;
  align-items: center;
}

.DetailedResult .title {
  padding: 10px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  font-size: 20px;
  background-color: #789645;
  margin-left: 15px;
}

.DetailedResult img {
  border-radius: 15px;
  width: 400px;
=======
.DetailedResult p {
  margin-left: 3%;
}

.DetailedResult img {
  margin-left: 3%;
  border-radius: 15px;
>>>>>>> 40c2590fb7cde47009944d44b257aedc2f1378e7
}

.DetailedResult a {
  background-color: lightgrey;
  border: 2px solid #eeeeee;
  color: black;
  padding: 2px 5px;
  margin: 3%;
}

.DetailedResult .summary {
  background-color: #789645;
  border: 2px solid white;
  padding: 5px;
<<<<<<< HEAD
  width: 375px;
}

.DetailedResult .fa-4x {
  line-height: 1;
}

.DetailedResult .yellow {
  color: gold;
=======
  width: 95%;
>>>>>>> 40c2590fb7cde47009944d44b257aedc2f1378e7
}
