.DetailedResult {
  height: calc(100vh - 221px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
}

.DetailedResult .center-img-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DetailedResult .title-link {
  display: flex;
  align-items: center;
}

.DetailedResult .title {
  padding: 10px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  font-size: 20px;
  background-color: #789645;
  margin-left: 15px;
}

.DetailedResult img {
  border-radius: 15px;
  width: 400px;
}

.DetailedResult .source {
  background-color: lightgrey;
  border: 2px solid #eeeeee;
  color: black;
  padding: 2px 5px;
  margin: 15px;
}

.DetailedResult .summary {
  background-color: #789645;
  border: 2px solid white;
  padding: 5px;
  width: 375px;
  border-radius: 5px;
  line-height: 1.5;
}

.DetailedResult .fa-4x {
  line-height: 1;
}

.DetailedResult .pink {
  color: pink;
  -webkit-text-stroke: 6px black;
}

.DetailedResult .white {
  color: #ffffff;
  -webkit-text-stroke: 6px black;
}

.similar-recipes {
  background-color: #789645;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 10px;
  border-top: 3px solid #eeeeee;
  padding: 0 0 10px 0;
  height: 142px;
}

.similar-recipes .SimilarRecipeList div {
  position: relative;
  height: 45%;
  margin: 0 10px;
  padding: 5px;
  border: 2px dashed #eeeeee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.similar-recipes .SimilarRecipeList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  align-items: center;
}
.similar-recipes #footer-title {
  text-decoration: underline;
  width: 175px;
  margin-left: 2%;
  font-size: 18pt;
  user-select: none;
}

.similar-recipes .SimilarRecipeList div a {
  color: black;
  text-decoration: none;
}

.DetailedResult .position-heart {
  position: relative;
}

.DetailedResult .heart {
  position: absolute;
  top: 0;
  left: 82%;
}

.DetailedResult .ingredients {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 250px;
}

.DetailedResult .icon {
  width: 90px;
  margin: 10px 5px 0 5px;
}

.DetailedResult .icons {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .DetailedResult .center-img-p {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 755px;
  }

  .DetailedResult .ingredients {
    margin: 0;
    margin-left: 20px;
  }

  .DetailedResult .heart {
    left: 44%;
  }
}
