.DetailedResult {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.DetailedResult .center-img-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DetailedResult .title-link {
  display: flex;
  align-items: center;
}

.DetailedResult .title {
  padding: 10px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  font-size: 20px;
  background-color: #789645;
  margin-left: 15px;
}

.DetailedResult img {
  border-radius: 15px;
  width: 400px;
}

.DetailedResult .source {
  background-color: lightgrey;
  border: 2px solid #eeeeee;
  color: black;
  padding: 2px 5px;
  margin: 15px;
}

.DetailedResult .summary {
  background-color: #789645;
  border: 2px solid white;
  padding: 5px;
  width: 375px;
}

.DetailedResult .fa-4x {
  line-height: 1;
  margin-bottom: 75px;
}

.DetailedResult .pink {
  color: pink;
}

.DetailedResult .similar-recipes {
  display: flex;
  flex-direction: row;
  background-color: #789645;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 10px;
  align-items: center;
  border-top: 3px solid #eeeeee;
  padding: 10px 0;
}
.DetailedResult .SimilarRecipeList {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.DetailedResult #footer-title {
  width: 175px;
  margin-left: 2%;
  font-size: 18pt;
}
.DetailedResult .SimilarRecipeList div {
  position: relative;
  width: 300px;
  margin: 0 10px;
  padding: 5px;
  border: 2px dashed #eeeeee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DetailedResult .SimilarRecipeList div a {
  color: black;
  text-decoration: none;
}
