.Favorites img {
  border-radius: 15px;
  width: 317.391px;
  height: 235px;
}
<<<<<<< HEAD
=======

>>>>>>> 40c2590fb7cde47009944d44b257aedc2f1378e7
.Favorites .results {
  color: #674747;
  text-align: center;
  border-top: 1px dashed #eeeeee;
  border-bottom: 1px dashed #eeeeee;
  font-size: 40px;
}
<<<<<<< HEAD
=======

>>>>>>> 40c2590fb7cde47009944d44b257aedc2f1378e7
.Favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}
