.Header {
  font-size: 15px;
  color: #674747;
  background-color: #789645;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #eeeeee;
  height: 7vh;
}

.Header button {
  border: 1px solid grey;
  color: #674747;
}

.Header .btn-contianer {
  display: flex;
  width: 170px;
  justify-content: space-between;
  margin-right: 2%;
}

.Header h1 {
  margin-left: 3%;
}
