.Result {
  border: 3px solid #eeeeee;
  padding: 30px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 350px;
  border-radius: 5px;
  background-color: #f96666;
  color: #674747;
}

.Result img {
  border-radius: 15px;
  width: 317.391px;
  height: 235px;
}

.Result h3 {
  font-size: 26px;
  /* text-decoration: underline;
  text-decoration-color: #353935; */
  color: #eeeeee;
}

.Result .fa-4x {
  line-height: 1;
  cursor: pointer;
}

.Result .pink {
  color: pink;
  -webkit-text-stroke: 6px black;
}
