body {
  margin: 0;
  background-image: url("/src/assets/kitchen-tools-and-tableware-cook-seamless-pattern-hand-drawn-vector.png");
  background-size: 30em;
  background-color: #829460;
  height: 100vh;
}
